In [3]:
import os
import sys
sys.path.append('../')
os.chdir('../')

In [4]:
import pandas as pd
import duck_db_helper
import duckdb

In [9]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
conn = duckdb.connect('../data/analytical_sandboxes/analytical_sandbox_zone.db')
tables = duck_db_helper.get_tables(conn)
df_list = []
df_list_names = []
for table_name in tables: 
    df = conn.sql(f"SELECT * FROM \"{table_name}\";").df()
    df_list.append(df)
    df_list_names.append(table_name)
conn.close()

In [10]:
df = df_list[0]

In [11]:
df.head()

        team_x opp_team_name  was_home               name position  assists  bonus  bps  clean_sheets  creativity  element  goals_conceded  goals_scored  ict_index  influence  minutes  own_goals  penalties_missed  penalties_saved  yellow_cards  red_cards  round  saves  selected  threat  total_points  value  FTHG  FTAG FTR  AvgH  AvgD  AvgA   PRESS WDIR  WSPD  CLOUD  TEMP  TDEW
0  Southampton         Leeds         1          Che Adams      FWD        0      0    6             0        13.5      411               2             0        2.2        5.2       90          0                 0                0             0          0      2      0     53680       3             2     64     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1
1  Southampton         Leeds         1        Rom√©o Lavia      MID        0      0   10             0        11.2      321               2             0        2.1        9.6       90          0                 0                0             0          0      2      0     35569       0             2     45     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1
2  Southampton         Leeds         1  Joe Ayodele-Aribo      MID        0      1   23             0         2.1      512               0             1        9.5       39.2       29          0                 0                0             0          0      2      0     54303      54             7     55     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1
3  Southampton         Leeds         1   Stuart Armstrong      MID        0      0    5             0        17.4      405               2             0        4.2        1.4       60          0                 0                0             0          0      2      0     10063      23             2     50     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1
4  Southampton         Leeds         1    Mohammed Salisu      DEF        0      0    6             0         0.7      420               2             0        2.0       19.6       90          0                 0                0             1          0      2      0     14622       0             0     45     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1

In [12]:
df.describe()

          was_home      assists        bonus          bps  clean_sheets   creativity      element  goals_conceded  goals_scored    ict_index    influence     minutes    own_goals  penalties_missed  penalties_saved  yellow_cards    red_cards        round        saves      selected       threat  total_points        value         FTHG         FTAG         AvgH         AvgD         AvgA        PRESS         WSPD        CLOUD         TEMP         TDEW
count  7305.000000  7305.000000  7305.000000  7305.000000   7305.000000  7305.000000  7305.000000     7305.000000   7305.000000  7305.000000  7305.000000  7305.00000  7305.000000       7305.000000      7305.000000   7305.000000  7305.000000  7305.000000  7305.000000  7.305000e+03  7305.000000   7305.000000  7305.000000  7305.000000  7305.000000  7305.000000  7305.000000  7305.000000  7305.000000  7305.000000  7305.000000  7305.000000  7305.000000
mean      0.500753     0.068309     0.186858    10.003559      0.182341     7.738166   302.575222        0.835866      0.077481     2.699411    11.351732    55.02245     0.003422          0.002053         0.001369      0.098700     0.001506    20.821766     0.159890  4.628404e+05     7.911431      2.329774    53.847091     1.584394     1.214100     2.901958     4.245682     4.620428  1016.284682     6.623819     4.379466     9.488779     6.915829
std       0.500034     0.274140     0.636377    10.865867      0.386152    12.902700   180.465108        1.144191      0.299723     3.343649    14.341817    38.58102     0.060703          0.045271         0.036976      0.298279     0.038778    11.420255     0.798346  9.985991e+05    15.162842      2.926130    13.688255     1.430109     1.158871     1.924277     1.327631     4.481683    10.056500     4.247998     3.659152     5.000648     4.503015
min       0.000000     0.000000     0.000000   -21.000000      0.000000     0.000000     2.000000        0.000000      0.000000     0.000000     0.000000     0.00000     0.000000          0.000000         0.000000      0.000000     0.000000     2.000000     0.000000  0.000000e+00     0.000000     -4.000000    38.000000     0.000000     0.000000     1.070000     3.140000     1.250000   980.600000     1.000000     0.000000    -5.300000    -5.900000
25%       0.000000     0.000000     0.000000     0.000000      0.000000     0.000000   142.000000        0.000000      0.000000     0.000000     0.000000     7.00000     0.000000          0.000000         0.000000      0.000000     0.000000    12.000000     0.000000  2.541900e+04     0.000000      0.000000    45.000000     1.000000     0.000000     1.680000     3.500000     2.150000  1008.600000     4.000000     0.000000     6.400000     4.100000
50%       1.000000     0.000000     0.000000     7.000000      0.000000     1.000000   300.000000        0.000000      0.000000     1.700000     6.600000    76.00000     0.000000          0.000000         0.000000      0.000000     0.000000    20.000000     0.000000  9.751400e+04     0.000000      1.000000    50.000000     1.000000     1.000000     2.300000     3.820000     3.150000  1017.800000     6.000000     6.000000    10.000000     7.700000
75%       1.000000     0.000000     0.000000    16.000000      0.000000    12.000000   448.000000        1.000000      0.000000     3.900000    17.200000    90.00000     0.000000          0.000000         0.000000      0.000000     0.000000    32.000000     0.000000  4.109470e+05     8.000000      3.000000    56.000000     2.000000     2.000000     3.350000     4.440000     5.130000  1023.700000     9.000000     8.000000    12.200000    10.200000
max       1.000000     3.000000     3.000000    81.000000      1.000000   124.000000   731.000000        9.000000      3.000000    30.400000   125.800000    90.00000     2.000000          1.000000         1.000000      1.000000     1.000000    38.000000     9.000000  9.574623e+06   169.000000     22.000000   131.000000     9.000000     6.000000    11.950000    12.840000    37.570000  1036.900000    28.000000     8.000000    23.000000    16.800000

In [14]:
df.isna().sum().sum()

0