In [1]:
import os
import sys
sys.path.append('../')
os.chdir('../')

In [3]:
import pandas as pd

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
df = pd.read_pickle('../data/analytical_sandboxes/analytical_sandbox.pkl')

In [8]:
df.head()

        team_x opp_team_name  was_home               name position  assists  bonus  bps  clean_sheets  creativity  element  goals_conceded  goals_scored  ict_index  influence  minutes  own_goals  penalties_missed  penalties_saved  yellow_cards  red_cards  round  saves  selected  threat  total_points  value  FTHG  FTAG FTR  AvgH  AvgD  AvgA   PRESS WDIR  WSPD  CLOUD  TEMP  TDEW
0  Southampton         Leeds         1     Nathan Redmond      MID        0      0    0             0         0.0      403               0             0        0.0        0.0        0          0                 0                0             0          0      2      0      6353       0             0     55     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1
1  Southampton         Leeds         1          Che Adams      FWD        0      0    6             0        13.5      411               2             0        2.2        5.2       90          0                 0                0             0          0      2      0     53680       3             2     64     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1
2  Southampton         Leeds         1     Will Smallbone      MID        0      0    0             0         0.0      415               0             0        0.0        0.0        0          0                 0                0             0          0      2      0      1801       0             0     45     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1
3  Southampton         Leeds         1        Rom√©o Lavia      MID        0      0   10             0        11.2      321               2             0        2.1        9.6       90          0                 0                0             0          0      2      0     35569       0             2     45     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1
4  Southampton         Leeds         1  Joe Ayodele-Aribo      MID        0      1   23             0         2.1      512               0             1        9.5       39.2       29          0                 0                0             0          0      2      0     54303      54             7     55     2     2   D  2.32  3.51   3.1  1015.6   NW   3.0    0.0  16.4  11.1

In [10]:
df.isna().sum()

team_x              0
opp_team_name       0
was_home            0
name                0
position            0
assists             0
bonus               0
bps                 0
clean_sheets        0
creativity          0
element             0
goals_conceded      0
goals_scored        0
ict_index           0
influence           0
minutes             0
own_goals           0
penalties_missed    0
penalties_saved     0
yellow_cards        0
red_cards           0
round               0
saves               0
selected            0
threat              0
total_points        0
value               0
FTHG                0
FTAG                0
FTR                 0
AvgH                0
AvgD                0
AvgA                0
PRESS               0
WDIR                0
WSPD                0
CLOUD               0
TEMP                0
TDEW                0
dtype: int64