In [2]:
import os
import sys
sys.path.append('../')
os.chdir('../')

In [3]:
import duckdb 
import pandas as pd
import duck_db_helper

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
conn = duckdb.connect('../data/exploitation_zone/exploitation_zone.db')
tables = duck_db_helper.get_tables(conn)
df_list = []
df_list_names = []
for table_name in tables: 
    df = conn.sql(f"SELECT * FROM \"{table_name}\";").df()
    df_list.append(df)
    df_list_names.append(table_name)
conn.close()

In [5]:
df_list_names

['football_matches', 'players']

In [11]:
dfm = df_list[0] # Matches
dfp = df_list[1] # Players

In [13]:
dfm

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA,B365>2.5,B365<2.5,P>2.5,P<2.5,Max>2.5,Max<2.5,Avg>2.5,Avg<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA,B365CH,B365CD,B365CA,BWCH,BWCD,BWCA,IWCH,IWCD,IWCA,PSCH,PSCD,PSCA,WHCH,WHCD,WHCA,VCCH,VCCD,VCCA,MaxCH,MaxCD,MaxCA,AvgCH,AvgCD,AvgCA,B365C>2.5,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,PRESS,WDIR,WSPD,CLOUD,TEMP,TDEW
0,E0,2022-05-08,2023-10-21 20:00:00,Crystal Palace,Arsenal,0,2,A,0,1,A,A Taylor,10,10,2,2,16,11,3,5,1,2,0,0,4.20,3.60,1.85,4.33,3.50,1.87,4.30,3.55,1.85,4.50,3.65,1.89,4.40,3.50,1.83,4.60,3.50,1.87,4.60,3.78,1.95,4.39,3.59,1.88,2.10,1.72,2.14,1.78,2.19,1.91,2.09,1.76,0.50,2.04,1.89,2.03,1.89,2.06,1.91,2.01,1.87,4.50,3.60,1.80,4.50,3.50,1.83,4.40,3.55,1.85,4.58,3.63,1.88,4.80,3.4,1.78,4.75,3.5,1.85,5.01,3.70,1.91,4.56,3.57,1.85,2.10,1.72,2.14,1.78,2.19,1.91,2.08,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85,1028.7,E,7.0,7.0,12.2,9.2
1,E0,2022-06-08,2023-10-21 12:30:00,Fulham,Liverpool,2,2,D,1,0,H,A Madley,9,11,3,4,7,9,4,4,2,0,0,0,11.00,6.00,1.25,10.00,5.75,1.28,12.00,5.75,1.27,11.20,6.22,1.28,12.00,5.50,1.27,13.00,6.00,1.25,13.00,6.40,1.31,10.99,6.05,1.28,1.50,2.62,1.50,2.70,1.54,2.76,1.48,2.63,1.75,1.90,2.03,1.91,2.00,1.92,2.04,1.89,1.99,11.00,5.75,1.28,9.25,6.00,1.29,11.00,5.50,1.30,10.50,6.50,1.29,11.00,5.5,1.27,11.50,6.0,1.29,11.95,6.93,1.30,10.33,6.20,1.28,1.50,2.62,1.49,2.77,1.51,3.00,1.47,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99,1007.5,S,7.0,8.0,14.7,13.2
2,E0,2022-06-08,2023-10-21 15:00:00,Bournemouth,Aston Villa,2,0,H,1,0,H,P Bankes,7,15,3,2,18,16,5,5,3,3,0,0,3.75,3.50,2.00,3.75,3.40,2.00,3.65,3.45,2.05,3.93,3.58,2.04,3.75,3.30,2.05,3.75,3.30,2.00,4.00,3.66,2.10,3.80,3.50,2.04,2.00,1.80,2.10,1.81,2.10,1.87,2.03,1.80,0.50,1.87,2.06,1.88,2.04,1.88,2.07,1.85,2.04,4.00,3.50,1.95,3.90,3.40,1.95,3.85,3.45,2.00,4.09,3.59,2.00,4.00,3.4,1.95,4.10,3.4,2.00,4.25,3.63,2.06,3.99,3.49,2.00,2.10,1.72,2.13,1.79,2.24,1.81,2.10,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00,1006.3,S,10.0,8.0,14.7,14.5
3,E0,2022-06-08,2023-10-21 15:00:00,Leeds,Wolves,2,1,H,1,1,D,R Jones,12,15,4,6,13,9,6,4,2,0,0,0,2.25,3.40,3.20,2.30,3.30,2.95,2.30,3.30,3.15,2.39,3.33,3.30,2.25,3.30,3.20,2.30,3.20,3.10,2.42,3.54,3.30,2.34,3.34,3.18,2.05,1.85,2.09,1.83,2.11,1.87,2.03,1.81,-0.25,2.05,1.88,2.04,1.89,2.06,1.90,2.01,1.87,2.37,3.30,3.00,2.40,3.30,2.75,2.45,3.30,2.95,2.45,3.44,3.09,2.40,3.3,2.90,2.40,3.4,3.00,2.50,3.55,3.18,2.43,3.36,3.02,1.95,1.95,1.96,1.94,2.09,1.96,1.96,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81,1006.3,S,3.0,7.0,11.1,9.7
4,E0,2022-06-08,2023-10-21 15:00:00,Newcastle,Nott'm Forest,2,0,H,0,0,D,S Hooper,23,5,10,0,9,14,11,1,0,3,0,0,1.66,3.80,5.25,1.65,3.80,5.50,1.65,3.80,5.50,1.71,3.74,5.83,1.67,3.70,5.25,1.62,3.70,5.50,1.72,3.96,6.00,1.67,3.80,5.57,2.05,1.85,2.10,1.81,2.10,1.86,2.03,1.81,-0.75,1.87,2.06,1.92,2.01,1.92,2.08,1.86,2.02,1.53,4.00,6.00,1.58,3.90,6.00,1.63,3.80,6.00,1.57,4.22,6.60,1.53,3.9,6.50,1.57,3.9,7.00,1.67,4.30,7.00,1.59,4.07,6.15,1.94,1.96,1.97,1.93,2.06,1.97,1.94,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86,1006.6,SE,6.0,8.0,10.3,9.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,2023-05-28,2023-10-21 16:30:00,Everton,Bournemouth,1,0,H,0,0,D,S Attwell,13,7,6,2,11,12,9,3,1,3,0,0,1.50,4.50,6.50,1.47,4.50,6.50,1.45,4.60,7.25,1.50,4.63,6.54,1.36,4.20,6.50,1.44,4.33,7.00,1.53,5.00,7.25,1.49,4.61,6.58,1.67,2.20,1.68,2.26,1.74,2.29,1.68,2.22,-1.25,2.09,1.81,2.10,1.81,2.11,1.85,2.06,1.80,1.62,4.00,5.25,1.63,4.10,5.00,1.55,4.20,6.00,1.65,4.26,5.31,1.50,3.8,5.50,1.62,4.0,5.50,1.67,4.50,6.00,1.62,4.22,5.41,1.73,2.10,1.74,2.17,1.85,2.28,1.73,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83,1025.3,NNE,5.0,5.0,12.2,10.9
376,E0,2023-05-28,2023-10-21 16:30:00,Leeds,Spurs,1,4,A,0,1,A,A Taylor,19,11,2,7,7,5,12,3,3,0,0,0,2.75,3.80,2.30,2.70,3.70,2.37,2.65,3.80,2.45,2.81,3.93,2.36,2.60,3.50,2.20,2.75,3.70,2.30,2.88,4.10,2.45,2.77,3.84,2.37,1.50,2.63,1.50,2.65,1.52,2.72,1.50,2.60,0.25,1.82,2.08,1.83,2.07,1.85,2.12,1.80,2.05,2.75,4.00,2.38,2.75,3.75,2.35,2.65,3.80,2.45,2.80,3.95,2.39,2.60,3.5,2.20,2.80,3.7,2.38,2.94,4.05,2.45,2.78,3.84,2.38,1.53,2.50,1.55,2.54,1.60,2.82,1.54,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06,1024.6,WNW,3.0,0.0,10.6,8.0
377,E0,2023-05-28,2023-10-21 16:30:00,Leicester,West Ham,2,1,H,1,0,H,S Hooper,13,16,4,3,8,10,3,5,1,1,0,0,1.91,3.80,3.60,1.95,3.80,3.50,1.95,3.85,3.60,1.95,4.02,3.64,1.85,3.60,3.30,1.90,3.70,3.75,2.00,4.20,3.82,1.94,3.92,3.65,1.67,2.20,1.69,2.23,1.74,2.28,1.68,2.21,-0.50,1.95,1.95,1.95,1.93,1.97,1.99,1.93,1.92,1.95,4.00,3.40,2.05,3.80,3.20,2.10,3.90,3.20,2.11,4.01,3.29,1.95,3.5,3.10,2.05,3.9,3.30,2.19,4.18,3.44,2.08,3.94,3.26,1.50,2.63,1.57,2.50,1.60,2.63,1.54,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04,1023.7,NE,3.0,1.0,9.3,7.8
378,E0,2023-05-28,2023-10-21 16:30:00,Man Utd,Fulham,2,1,H,1,1,D,R Jones,21,10,8,3,14,10,5,4,1,2,0,0,1.50,4.33,6.00,1.51,4.60,5.75,1.53,4.50,5.75,1.53,4.65,5.84,1.44,4.20,5.50,1.50,4.50,5.75,1.56,4.90,6.00,1.53,4.59,5.76,1.50,2.63,1.50,2.61,1.53,2.80,1.49,2.63,-1.00,1.87,2.03,1.86,2.03,1.90,2.10,1.84,2.01,1.45,4.75,6.00,1.47,5.00,5.75,1.50,4.50,6.25,1.49,5.09,6.14,1.40,4.5,5.00,1.44,5.0,6.50,1.58,5.25,6.60,1.48,4.97,6.04,1.40,3.00,1.41,3.01,1.50,3.10,1.41,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89,1024.9,NNW,5.0,0.0,11.5,9.0
379,E0,2023-05-28,2023-10-21 16:30:00,Southampton,Liverpool,4,4,D,2,2,D,D England,15,30,10,8,4,10,2,9,0,2,0,0,6.50,4.75,1.44,6.75,5.00,1.42,6.25,5.00,1.45,6.68,5.29,1.43,6.00,4.75,1.33,7.00,5.00,1.40,7.10,5.60,1.46,6.74,5.20,1.42,1.40,3.00,1.40,3.01,1.42,3.12,1.39,3.01,1.50,1.75,2.05,1.81,2.09,1.88,2.13,1.80,2.07,5.50,4.50,1.50,5.75,4.80,1.49,5.75,5.25,1.47,5.77,4.87,1.53,5.80,4.5,1.36,6.00,5.0,1.45,6.46,5.30,1.54,5.95,4.97,1.49,1.36,3.20,1.36,3.23,1.37,3.36,1.34,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98,1022.9,NNE,2.0,0.0,7.9,6.6

In [14]:
dfp

      match_date       team_x opp_team_name  was_home                      name position  assists  bonus  bps  clean_sheets  creativity  element  fixture  goals_conceded  goals_scored  ict_index  influence              kickoff_time  minutes  own_goals  penalties_missed  penalties_saved  yellow_cards  red_cards  round  saves  selected  threat  total_points  transfers_balance  transfers_in  transfers_out  value
0            NaT         None       Chelsea         0           Aaron Cresswell      DEF        0      0    0             0         0.0      454       10               0             0        0.0        0.0 2016-08-15 21:00:00+02:00        0          0                 0                0             0          0      1      0     14023       0             0                  0             0              0     55
1            NaT         None         Spurs         1              Aaron Lennon      MID        0      0    6             0         0.3      142        3               0             0        0.9        8.2 2016-08-13 16:00:00+02:00       15          0                 0                0             0          0      1      0     13918       0             1                  0             0              0     60
2            NaT         None     Liverpool         1              Aaron Ramsey      MID        0      0    5             0         4.9       16        8               3             0        3.0        2.2 2016-08-14 17:00:00+02:00       60          0                 0                0             0          0      1      0    163170      23             2                  0             0              0     80
3            NaT         None   Southampton         0        Abdoulaye DoucourÃ©      MID        0      0    0             0         0.0      482        7               0             0        0.0        0.0 2016-08-13 16:00:00+02:00        0          0                 0                0             0          0      1      0      1051       0             0                  0             0              0     50
4            NaT         None         Stoke         1              Adam Forshaw      MID        0      0    3             0         1.3      286        6               1             0        0.3        2.0 2016-08-13 16:00:00+02:00       69          0                 0                0             1          0      1      0      2723       0             1                  0             0              0     45
...          ...          ...           ...       ...                       ...      ...      ...    ...  ...           ...         ...      ...      ...             ...           ...        ...        ...                       ...      ...        ...               ...              ...           ...        ...    ...    ...       ...     ...           ...                ...           ...            ...    ...
96164 2023-05-28        Spurs         Leeds         0              Oliver Skipp      MID        0      0   16             0         0.0      441      377               1             0        0.0        0.0 2023-05-28 17:30:00+02:00       90          0                 0                0             0          0     38      0     16761       0             2                100           742            642     43
96165 2023-05-28        Spurs         Leeds         0            Ryan Sessegnon      DEF        0      0    0             0         0.0      436      377               0             0        0.0        0.0 2023-05-28 17:30:00+02:00        0          0                 0                0             0          0     38      0     58774       0             0               -166            24            190     44
96166 2023-05-28  Aston Villa      Brighton         1              Ashley Young      DEF        0      0    0             0         0.0      538      372               0             0        0.0        0.0 2023-05-28 17:30:00+02:00        0          0                 0                0             0          0     38      0     96712       0             0              -1146          1522           2668     43
96167 2023-05-28     Brighton   Aston Villa         0  Jeremy Sarmiento Morante      MID        0      0    0             0         0.0      119      372               0             0        0.0        0.0 2023-05-28 17:30:00+02:00        0          0                 0                0             0          0     38      0      4511       0             0                -17            22             39     45
96168 2023-05-28  Bournemouth       Everton         0            Philip Billing      MID        0      0   15             0         0.0       70      376               1             0        0.0        0.0 2023-05-28 17:30:00+02:00       90          0                 0                0             0          0     38      0     98162       0             2             -18361           736          19097     50

[96169 rows x 33 columns]

# Project only the wanted columns for the analysis

First we filter all unused columns that are or redundant or don't have any real value for analysis. We also remove all the betting odds and just keep an average (that was calculated in previous steps).

## Players Projections
We will get rid of some of the stats like fixture, kick off time and transfers

In [15]:
unused_players_cols = [ 'fixture', 'kickoff_time','transfers_balance','transfers_in','transfers_out']

# Check if they exists before droping
unused_players_cols = [col for col in unused_players_cols if col in dfp.columns]
dfp = dfp.drop(unused_players_cols, axis=1)

In [18]:
dfp

      match_date       team_x opp_team_name  was_home                      name position  assists  bonus  bps  clean_sheets  creativity  element  goals_conceded  goals_scored  ict_index  influence  minutes  own_goals  penalties_missed  penalties_saved  yellow_cards  red_cards  round  saves  selected  threat  total_points  value
0            NaT         None       Chelsea         0           Aaron Cresswell      DEF        0      0    0             0         0.0      454               0             0        0.0        0.0        0          0                 0                0             0          0      1      0     14023       0             0     55
1            NaT         None         Spurs         1              Aaron Lennon      MID        0      0    6             0         0.3      142               0             0        0.9        8.2       15          0                 0                0             0          0      1      0     13918       0             1     60
2            NaT         None     Liverpool         1              Aaron Ramsey      MID        0      0    5             0         4.9       16               3             0        3.0        2.2       60          0                 0                0             0          0      1      0    163170      23             2     80
3            NaT         None   Southampton         0        Abdoulaye DoucourÃ©      MID        0      0    0             0         0.0      482               0             0        0.0        0.0        0          0                 0                0             0          0      1      0      1051       0             0     50
4            NaT         None         Stoke         1              Adam Forshaw      MID        0      0    3             0         1.3      286               1             0        0.3        2.0       69          0                 0                0             1          0      1      0      2723       0             1     45
...          ...          ...           ...       ...                       ...      ...      ...    ...  ...           ...         ...      ...             ...           ...        ...        ...      ...        ...               ...              ...           ...        ...    ...    ...       ...     ...           ...    ...
96164 2023-05-28        Spurs         Leeds         0              Oliver Skipp      MID        0      0   16             0         0.0      441               1             0        0.0        0.0       90          0                 0                0             0          0     38      0     16761       0             2     43
96165 2023-05-28        Spurs         Leeds         0            Ryan Sessegnon      DEF        0      0    0             0         0.0      436               0             0        0.0        0.0        0          0                 0                0             0          0     38      0     58774       0             0     44
96166 2023-05-28  Aston Villa      Brighton         1              Ashley Young      DEF        0      0    0             0         0.0      538               0             0        0.0        0.0        0          0                 0                0             0          0     38      0     96712       0             0     43
96167 2023-05-28     Brighton   Aston Villa         0  Jeremy Sarmiento Morante      MID        0      0    0             0         0.0      119               0             0        0.0        0.0        0          0                 0                0             0          0     38      0      4511       0             0     45
96168 2023-05-28  Bournemouth       Everton         0            Philip Billing      MID        0      0   15             0         0.0       70               1             0        0.0        0.0       90          0                 0                0             0          0     38      0     98162       0             2     50

[96169 rows x 28 columns]

## Matches Projections
Here we will get rid of some other statics and some redundant betting odds data.

In [16]:
unused_matches_cols = [ 'Div','Time', 'HTHG', 'HTAG', 'HTR', 'Referee',
                           'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR'
                        ]
unused_matches_cols = [col for col in unused_matches_cols if col in dfm.columns]
dfm = dfm.drop(unused_matches_cols, axis=1)


unused_matches_betting_odds = ['B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 
                        'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD', 'MaxA',
                        'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 
                        'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 
                        'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 
                        'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 
                        'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 
                        'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5', 
                        'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 
                        'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA'
                        ]
unused_matches_betting_odds = [col for col in unused_matches_betting_odds if col in dfm.columns]
dfm = dfm.drop(unused_matches_betting_odds, axis=1)

In [17]:
dfm

          Date        HomeTeam       AwayTeam  FTHG  FTAG FTR   AvgH  AvgD  AvgA   PRESS WDIR  WSPD  CLOUD  TEMP  TDEW
0   2022-05-08  Crystal Palace        Arsenal     0     2   A   4.39  3.59  1.88  1028.7    E   7.0    7.0  12.2   9.2
1   2022-06-08          Fulham      Liverpool     2     2   D  10.99  6.05  1.28  1007.5    S   7.0    8.0  14.7  13.2
2   2022-06-08     Bournemouth    Aston Villa     2     0   H   3.80  3.50  2.04  1006.3    S  10.0    8.0  14.7  14.5
3   2022-06-08           Leeds         Wolves     2     1   H   2.34  3.34  3.18  1006.3    S   3.0    7.0  11.1   9.7
4   2022-06-08       Newcastle  Nott'm Forest     2     0   H   1.67  3.80  5.57  1006.6   SE   6.0    8.0  10.3   9.3
..         ...             ...            ...   ...   ...  ..    ...   ...   ...     ...  ...   ...    ...   ...   ...
375 2023-05-28         Everton    Bournemouth     1     0   H   1.49  4.61  6.58  1025.3  NNE   5.0    5.0  12.2  10.9
376 2023-05-28           Leeds          Spurs     1     4   A   2.77  3.84  2.37  1024.6  WNW   3.0    0.0  10.6   8.0
377 2023-05-28       Leicester       West Ham     2     1   H   1.94  3.92  3.65  1023.7   NE   3.0    1.0   9.3   7.8
378 2023-05-28         Man Utd         Fulham     2     1   H   1.53  4.59  5.76  1024.9  NNW   5.0    0.0  11.5   9.0
379 2023-05-28     Southampton      Liverpool     4     4   D   6.74  5.20  1.42  1022.9  NNE   2.0    0.0   7.9   6.6

[380 rows x 15 columns]

# Selections of the only wanted rows for the analysis

## Selections on Players

### Players active in the last two years (2022-2023)

First we are only going to select the entries beloning of the last years as it's the only data we have on in the matches table.

In [31]:
start = pd.to_datetime(min(dfm['Date']))
end = pd.to_datetime(max(dfm['Date']))

print(f"Between {start} and {end}")

Between 2022-01-09 00:00:00 and 2023-12-03 00:00:00

In [35]:
dfp = dfp[(dfp['match_date'] >= start) & (dfp['match_date'] <= end)]
dfp

      match_date       team_x opp_team_name  was_home                      name position  assists  bonus  bps  clean_sheets  creativity  element  goals_conceded  goals_scored  ict_index  influence  minutes  own_goals  penalties_missed  penalties_saved  yellow_cards  red_cards  round  saves  selected  threat  total_points  value
70237 2022-08-13  Southampton         Leeds         1            Nathan Redmond      MID        0      0    0             0         0.0      403               0             0        0.0        0.0        0          0                 0                0             0          0      2      0      6353       0             0     55
70238 2022-08-13  Bournemouth      Man City         0          Junior Stanislas      MID        0      0    2             0         0.3       58               1             0        0.0        0.0       27          0                 0                0             0          0      2      0      8333       1             1     50
70239 2022-08-14      Chelsea         Spurs         1             Armando Broja      FWD        0      0    3             0         0.0      150               1             0        0.0        0.0        1          0                 0                0             0          0      2      0    118331       0             1     55
70240 2022-08-13    Newcastle      Brighton         0              Fabian SchÃ¤r      DEF        0      0   22             1         0.7      366               0             0        2.1       20.6       90          0                 0                0             1          0      2      0    411488       0             5     46
70241 2022-08-13    Leicester       Arsenal         0               Jonny Evans      DEF        0      0   13             0         0.4      249               4             0        1.5       14.4       90          0                 0                0             0          0      2      0     29893       0             0     45
...          ...          ...           ...       ...                       ...      ...      ...    ...  ...           ...         ...      ...             ...           ...        ...        ...      ...        ...               ...              ...           ...        ...    ...    ...       ...     ...           ...    ...
96164 2023-05-28        Spurs         Leeds         0              Oliver Skipp      MID        0      0   16             0         0.0      441               1             0        0.0        0.0       90          0                 0                0             0          0     38      0     16761       0             2     43
96165 2023-05-28        Spurs         Leeds         0            Ryan Sessegnon      DEF        0      0    0             0         0.0      436               0             0        0.0        0.0        0          0                 0                0             0          0     38      0     58774       0             0     44
96166 2023-05-28  Aston Villa      Brighton         1              Ashley Young      DEF        0      0    0             0         0.0      538               0             0        0.0        0.0        0          0                 0                0             0          0     38      0     96712       0             0     43
96167 2023-05-28     Brighton   Aston Villa         0  Jeremy Sarmiento Morante      MID        0      0    0             0         0.0      119               0             0        0.0        0.0        0          0                 0                0             0          0     38      0      4511       0             0     45
96168 2023-05-28  Bournemouth       Everton         0            Philip Billing      MID        0      0   15             0         0.0       70               1             0        0.0        0.0       90          0                 0                0             0          0     38      0     98162       0             2     50

[16179 rows x 28 columns]

### Players that played at least 10 minutes in 10 different matches

We are going to only select the players that have played at least 10 minutes in 10 matches for this analysis. As players who played less than will probably have less robust statistics.

In [36]:
dfp_10 = dfp[dfp['minutes'] >= 10]
dfp_10

      match_date          team_x opp_team_name  was_home              name position  assists  bonus  bps  clean_sheets  creativity  element  goals_conceded  goals_scored  ict_index  influence  minutes  own_goals  penalties_missed  penalties_saved  yellow_cards  red_cards  round  saves  selected  threat  total_points  value
70238 2022-08-13     Bournemouth      Man City         0  Junior Stanislas      MID        0      0    2             0         0.3       58               1             0        0.0        0.0       27          0                 0                0             0          0      2      0      8333       1             1     50
70240 2022-08-13       Newcastle      Brighton         0      Fabian SchÃ¤r      DEF        0      0   22             1         0.7      366               0             0        2.1       20.6       90          0                 0                0             1          0      2      0    411488       0             5     46
70241 2022-08-13       Leicester       Arsenal         0       Jonny Evans      DEF        0      0   13             0         0.4      249               4             0        1.5       14.4       90          0                 0                0             0          0      2      0     29893       0             0     45
70242 2022-08-14   Nott'm Forest      West Ham         1   Brennan Johnson      FWD        0      0    5             1        14.3      394               0             0        3.3        1.6       90          0                 0                0             1          0      2      0    160914      17             1     60
70243 2022-08-15  Crystal Palace     Liverpool         0   Cheick DoucourÃ©      MID        0      0   17             0        28.0      514               1             0        4.4       12.8       78          0                 0                0             0          0      2      0     12433       3             2     50
...          ...             ...           ...       ...               ...      ...      ...    ...  ...           ...         ...      ...             ...           ...        ...        ...      ...        ...               ...              ...           ...        ...    ...    ...       ...     ...           ...    ...
96152 2023-05-28         Arsenal        Wolves         1   Martin Ã˜degaard      MID        0      0   16             1         0.0        7               0             0        0.0        0.0       74          0                 0                0             0          0     38      0   3821085       0             3     69
96154 2023-05-28       Brentford      Man City         1     Ethan Pinnock      DEF        0      3   49             1         0.0       92               0             1        0.0        0.0       90          0                 0                0             0          0     38      0     99607       0            15     44
96156 2023-05-28         Arsenal        Wolves         1      Reiss Nelson      MID        0      0    9             0         0.0       23               0             0        0.0        0.0       30          0                 0                0             0          0     38      0      5145       0             1     47
96164 2023-05-28           Spurs         Leeds         0      Oliver Skipp      MID        0      0   16             0         0.0      441               1             0        0.0        0.0       90          0                 0                0             0          0     38      0     16761       0             2     43
96168 2023-05-28     Bournemouth       Everton         0    Philip Billing      MID        0      0   15             0         0.0       70               1             0        0.0        0.0       90          0                 0                0             0          0     38      0     98162       0             2     50

[6336 rows x 28 columns]

In [37]:
name_counts = dfp_10.groupby('name').size()
at_least_10_games = name_counts[name_counts >= 10]
at_least_10_games

name
Aaron Cresswell            18
Aaron Hickey               14
Aaron Ramsdale             22
Aaron Wan-Bissaka          11
Adam Armstrong             15
                           ..
Willian Borges da Silva    17
Wout Faes                  18
Yoane Wissa                22
Youri Tielemans            20
Yves Bissouma              14
Length: 321, dtype: int64

In [40]:
wanted_players = at_least_10_games.index.to_list()
dfp = dfp[dfp['name'].isin(wanted_players)]

In [41]:
dfp

      match_date          team_x  opp_team_name  was_home               name position  assists  bonus  bps  clean_sheets  creativity  element  goals_conceded  goals_scored  ict_index  influence  minutes  own_goals  penalties_missed  penalties_saved  yellow_cards  red_cards  round  saves  selected  threat  total_points  value
70240 2022-08-13       Newcastle       Brighton         0       Fabian SchÃ¤r      DEF        0      0   22             1         0.7      366               0             0        2.1       20.6       90          0                 0                0             1          0      2      0    411488       0             5     46
70242 2022-08-14   Nott'm Forest       West Ham         1    Brennan Johnson      FWD        0      0    5             1        14.3      394               0             0        3.3        1.6       90          0                 0                0             1          0      2      0    160914      17             1     60
70243 2022-08-15  Crystal Palace      Liverpool         0    Cheick DoucourÃ©      MID        0      0   17             0        28.0      514               1             0        4.4       12.8       78          0                 0                0             0          0      2      0     12433       3             2     50
70249 2022-08-13       Leicester        Arsenal         0      Wesley Fofana      DEF        0      0    7             0         1.1      272               4             0        4.0       21.4       90          0                 0                0             1          0      2      0    154919      17            -1     45
70250 2022-08-14        West Ham  Nott'm Forest         0  Gianluca Scamacca      FWD        0      0    2             0         1.1      529               0             0        1.6        0.0       21          0                 0                0             0          0      2      0     94375      16             1     70
...          ...             ...            ...       ...                ...      ...      ...    ...  ...           ...         ...      ...             ...           ...        ...        ...      ...        ...               ...              ...           ...        ...    ...    ...       ...     ...           ...    ...
96162 2023-05-28           Spurs          Leeds         0        Hugo Lloris       GK        0      0    0             0         0.0      425               0             0        0.0        0.0        0          0                 0                0             0          0     38      0    360776       0             0     54
96163 2023-05-28       Newcastle        Chelsea         0          Nick Pope       GK        0      0    0             0         0.0      376               0             0        0.0        0.0        0          0                 0                0             0          0     38      0   2037914       0             0     54
96164 2023-05-28           Spurs          Leeds         0       Oliver Skipp      MID        0      0   16             0         0.0      441               1             0        0.0        0.0       90          0                 0                0             0          0     38      0     16761       0             2     43
96166 2023-05-28     Aston Villa       Brighton         1       Ashley Young      DEF        0      0    0             0         0.0      538               0             0        0.0        0.0        0          0                 0                0             0          0     38      0     96712       0             0     43
96168 2023-05-28     Bournemouth        Everton         0     Philip Billing      MID        0      0   15             0         0.0       70               1             0        0.0        0.0       90          0                 0                0             0          0     38      0     98162       0             2     50

[7305 rows x 28 columns]

# Saving data
We are going to save the data in both pickle format and in DuckDB.

In [42]:
dfp.to_pickle('../data/analytical_sandboxes/players.pkl')
dfm.to_pickle('../data/analytical_sandboxes/matches.pkl')

In [44]:
analytical_sandbox_db = '../data/analytical_sandboxes/analytical_sandbox_zone.db'

conn = duckdb.connect(analytical_sandbox_db)
duck_db_helper.create_table('matches', dfm, conn)
duck_db_helper.create_table('players', dfp, conn)
conn.close()